In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

In [ ]:
import pandas as pd

In [ ]:
# copy path
df_1 = pd.read_csv('/content/drive/MyDrive/MindX/MindX 18+ | D4E50/Day 12: Preprocessing và EDA dữ liệu/Data Practices/mexico-real-estate-1.csv')

In [ ]:
df_1

,property_type,state,lat,lon,area_m2,price_usd
0,house,Estado de México,19.560181,-99.233528,150.0,"$67,965.56"
1,house,Nuevo León,25.688436,-100.198807,186.0,"$63,223.78"
2,apartment,Guerrero,16.767704,-99.764383,82.0,"$84,298.37"
3,apartment,Guerrero,16.829782,-99.911012,150.0,"$94,308.80"
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,"$94,835.67"
...,...,...,...,...,...,...
695,house,Morelos,NaN,NaN,310.0,"$237,089.17"
696,house,Yucatán,21.050653,-89.558841,334.0,"$137,017.34"
697,house,Yucatán,21.343796,-89.262060,130.0,"$110,404.35"
698,apartment,Nuevo León,NaN,NaN,155.0,"$184,446.42"
699,house,Querétaro,20.587378,-100.418361,106.0,"$56,637.97"

In [ ]:
df_2 = pd.read_csv('/content/drive/MyDrive/MindX/MindX 18+ | D4E50/Day 12: Preprocessing và EDA dữ liệu/Data Practices/mexico-real-estate-2.csv')
df_2.head()

  property_type       state        lat         lon  area_m2  price_mxn
0     apartment  Nuevo León  25.721081 -100.345581     72.0  1300000.0
1     apartment      Puebla        NaN         NaN    190.0  2500000.0
2         house     Morelos  23.634501 -102.552788    360.0  5300000.0
3         house     Morelos        NaN         NaN     76.0   820000.0
4         house      Puebla        NaN         NaN    200.0  1100000.0

In [ ]:
df_3 = pd.read_csv('/content/drive/MyDrive/MindX/MindX 18+ | D4E50/Day 12: Preprocessing và EDA dữ liệu/Data Practices/mexico-real-estate-3.csv')
df_3.head()

,property_type,place_with_parent_names,lat-lon,area_m2,price_usd
0,apartment,|México|Distrito Federal|Gustavo A. Madero|Acu...,"19.52589,-99.151703",71.0,48550.59
1,house,|México|Estado de México|Toluca|Metepec|,"19.2640539,-99.5727534",233.0,168636.73
2,house,|México|Estado de México|Toluca|Toluca de Lerd...,"19.268629,-99.671722",300.0,86932.69
3,house,|México|Morelos|Temixco|Burgos Bugambilias|,NaN,275.0,263432.41
4,apartment,|México|Veracruz de Ignacio de la Llave|Veracruz|,"19.511938,-96.871956",84.0,68508.67

#Data Preprocessing

##Table 1

In [ ]:
df_1.head()

,property_type,state,lat,lon,area_m2,price_usd
0,house,Estado de México,19.560181,-99.233528,150.0,"$67,965.56"
1,house,Nuevo León,25.688436,-100.198807,186.0,"$63,223.78"
2,apartment,Guerrero,16.767704,-99.764383,82.0,"$84,298.37"
3,apartment,Guerrero,16.829782,-99.911012,150.0,"$94,308.80"
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,"$94,835.67"

In [ ]:
df_1.dtypes

property_type     object
state             object
lat              float64
lon              float64
area_m2          float64
price_usd         object
dtype: object

In [ ]:
df_1['price_usd'] = df_1['price_usd'].str.replace('$', '').str.replace(',', '').astype(float)

<ipython-input-15-e0cc854bc7b1>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_1['price_usd'] = df_1['price_usd'].str.replace('$', '').str.replace(',', '').astype(float)

In [ ]:
df_1.dtypes

property_type     object
state             object
lat              float64
lon              float64
area_m2          float64
price_usd        float64
dtype: object

In [ ]:
df_1.head()

,property_type,state,lat,lon,area_m2,price_usd
0,house,Estado de México,19.560181,-99.233528,150.0,67965.56
1,house,Nuevo León,25.688436,-100.198807,186.0,63223.78
2,apartment,Guerrero,16.767704,-99.764383,82.0,84298.37
3,apartment,Guerrero,16.829782,-99.911012,150.0,94308.80
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,94835.67

##Table 2

In [ ]:
df_2.head()

  property_type       state        lat         lon  area_m2  price_mxn
0     apartment  Nuevo León  25.721081 -100.345581     72.0  1300000.0
1     apartment      Puebla        NaN         NaN    190.0  2500000.0
2         house     Morelos  23.634501 -102.552788    360.0  5300000.0
3         house     Morelos        NaN         NaN     76.0   820000.0
4         house      Puebla        NaN         NaN    200.0  1100000.0

In [ ]:
df_2.dtypes

property_type     object
state             object
lat              float64
lon              float64
area_m2          float64
price_mxn        float64
dtype: object

In [ ]:
df_2['price_usd'] = df_2['price_mxn'] * 0.056

In [ ]:
df_2

,property_type,state,lat,lon,area_m2,price_mxn,price_usd
0,apartment,Nuevo León,25.721081,-100.345581,72.0,1300000.0,72800.0
1,apartment,Puebla,NaN,NaN,190.0,2500000.0,140000.0
2,house,Morelos,23.634501,-102.552788,360.0,5300000.0,296800.0
3,house,Morelos,NaN,NaN,76.0,820000.0,45920.0
4,house,Puebla,NaN,NaN,200.0,1100000.0,61600.0
...,...,...,...,...,...,...,...
695,house,Morelos,18.917542,-98.963181,140.0,1450000.0,81200.0
696,house,Distrito Federal,19.472128,-99.146697,190.0,1943000.0,108808.0
697,house,Estado de México,19.234984,-99.558175,115.0,2100000.0,117600.0
698,house,Puebla,18.918714,-98.426639,90.0,890000.0,49840.0
699,house,Yucatán,21.075163,-89.516731,185.0,1695000.0,94920.0

In [ ]:
# dict
df_2 = df_2.drop('price_mxn', axis=1)

In [ ]:
df_2

    property_type             state        lat         lon  area_m2  price_usd
0       apartment        Nuevo León  25.721081 -100.345581     72.0    72800.0
1       apartment            Puebla        NaN         NaN    190.0   140000.0
2           house           Morelos  23.634501 -102.552788    360.0   296800.0
3           house           Morelos        NaN         NaN     76.0    45920.0
4           house            Puebla        NaN         NaN    200.0    61600.0
..            ...               ...        ...         ...      ...        ...
695         house           Morelos  18.917542  -98.963181    140.0    81200.0
696         house  Distrito Federal  19.472128  -99.146697    190.0   108808.0
697         house  Estado de México  19.234984  -99.558175    115.0   117600.0
698         house            Puebla  18.918714  -98.426639     90.0    49840.0
699         house           Yucatán  21.075163  -89.516731    185.0    94920.0

[700 rows x 6 columns]

##Table 3

In [ ]:
df_3

,property_type,place_with_parent_names,lat-lon,area_m2,price_usd
0,apartment,|México|Distrito Federal|Gustavo A. Madero|Acu...,"19.52589,-99.151703",71.0,48550.59
1,house,|México|Estado de México|Toluca|Metepec|,"19.2640539,-99.5727534",233.0,168636.73
2,house,|México|Estado de México|Toluca|Toluca de Lerd...,"19.268629,-99.671722",300.0,86932.69
3,house,|México|Morelos|Temixco|Burgos Bugambilias|,NaN,275.0,263432.41
4,apartment,|México|Veracruz de Ignacio de la Llave|Veracruz|,"19.511938,-96.871956",84.0,68508.67
...,...,...,...,...,...
695,house,|México|Jalisco|Tlajomulco de Zúñiga|Tlajomulc...,"20.532264,-103.484418",175.0,121178.91
696,house,|México|Morelos|Jiutepec|,"18.9289862,-99.1802147",100.0,47417.83
697,house,|México|Yucatán|Mérida|,"21.0284038368,-89.6530058049",81.0,39524.23
698,house,|México|San Luis Potosí|San Luis Potosí|,"22.11830417,-101.0321938992",360.0,245050.24
699,house,|México|Estado de México|Toluca|Metepec|,"19.233201,-99.558519",115.0,110667.85

In [ ]:
df_3.dtypes

property_type               object
place_with_parent_names     object
lat-lon                     object
area_m2                    float64
price_usd                  float64
dtype: object

In [ ]:
# Split lat-lon column
df_3[['lat', 'lon']] = df_3['lat-lon'].str.split(',', 1, expand=True)

<ipython-input-39-bac9f546bb7b>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_3[['lat', 'lon']] = df_3['lat-lon'].str.split(',', 1, expand=True)

In [ ]:
df_3 = df_3.drop('lat-lon', axis=1)

In [ ]:
df_3

In [ ]:
df_3.dtypes

property_type               object
place_with_parent_names     object
area_m2                    float64
price_usd                  float64
lat                        float64
lon                        float64
dtype: object

In [ ]:
df_3['lat'] = df_3['lat'].astype(float)

In [ ]:
df_3['lon'] = df_3['lon'].astype(float)

##Union all

In [ ]:
df = pd.concat([df_1, df_2, df_3])

In [ ]:
df

,property_type,state,lat,lon,area_m2,price_usd,place_with_parent_names
0,house,Estado de México,19.560181,-99.233528,150.0,67965.56,NaN
1,house,Nuevo León,25.688436,-100.198807,186.0,63223.78,NaN
2,apartment,Guerrero,16.767704,-99.764383,82.0,84298.37,NaN
3,apartment,Guerrero,16.829782,-99.911012,150.0,94308.80,NaN
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,94835.67,NaN
...,...,...,...,...,...,...,...
695,house,NaN,20.532264,-103.484418,175.0,121178.91,|México|Jalisco|Tlajomulco de Zúñiga|Tlajomulc...
696,house,NaN,18.928986,-99.180215,100.0,47417.83,|México|Morelos|Jiutepec|
697,house,NaN,21.028404,-89.653006,81.0,39524.23,|México|Yucatán|Mérida|
698,house,NaN,22.118304,-101.032194,360.0,245050.24,|México|San Luis Potosí|San Luis Potosí|
699,house,NaN,19.233201,-99.558519,115.0,110667.85,|México|Estado de México|Toluca|Metepec|

In [ ]:
df.to_csv('/content/drive/MyDrive/MindX/MindX 18+ | D4E50/Day 12: Preprocessing và EDA dữ liệu/Data Practices/mexico-real-estate-cleaned.csv')

#EDA

In [ ]:
df.shape

(2100, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2100 entries, 0 to 699
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            2100 non-null   object
 1   state                    1400 non-null   object
 2   lat                      1736 non-null   float64
 3   lon                      1736 non-null   float64
 4   area_m2                  2100 non-null   float64
 5   price_usd                2100 non-null   float64
 6   place_with_parent_names  700 non-null    object
dtypes: float64(4), object(3)
memory usage: 131.2+ KB

In [ ]:
df.describe()

               lat          lon      area_m2      price_usd
count  1736.000000  1736.000000  2100.000000    2100.000000
mean     20.765410   -98.798575   173.022857  119651.645206
std       2.743425     4.882553    79.736156   67964.240972
min      15.752900  -117.054763    60.000000   33192.480000
25%      19.275200  -100.392553   105.000000   67412.347500
50%      19.620518   -99.204001   160.000000  102763.000000
75%      21.073428   -98.245911   223.000000  156800.000000
max      32.665619   -86.767539   385.000000  341600.000000

In [ ]:
# correlation
df.corr()

<ipython-input-53-c1f0a49b9c47>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                lat       lon   area_m2  price_usd
lat        1.000000 -0.480231  0.082314  -0.083371
lon       -0.480231  1.000000  0.095522   0.031713
area_m2    0.082314  0.095522  1.000000   0.592644
price_usd -0.083371  0.031713  0.592644   1.000000

In [ ]:
df["property_type"].value_counts()

house        1634
apartment     466
Name: property_type, dtype: int64